.proudSection {
  padding-top: 10vh;
  overflow: hidden;
}

.titleProud {
  text-align: center;
  font-weight: 400;
  font-size: 95px;
  line-height: 82px;
  color: #3e3e3e;
  margin-bottom: 30px;
}

.subtitleProudMembers {
  text-align: center;
  font-size: 18px;
  line-height: 29px;
  color: #3e3e3e;
}

.wrapperMembers {
  position: relative;
  margin-top: 70px;
}

.containerMembers {
  width: 100%;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 10px;
  animation: translateMembers 15s infinite linear 0s forwards;
}

.containerMembers:last-of-type {
  position: absolute;
  top: 0;
  left: calc(100% + 10px);
  animation: translateMembersB 15s infinite linear 7.5s forwards;
}

.memberIcon {
  width: 180px;
  height: 180px;
}

@keyframes translateMembers {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes translateMembersB {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-200%);
  }
}

@media only screen and (max-width: 520px) {
  .proudSection {
    padding-top: 5vh;
  }
  .titleProud {
    font-size: 45px;
  }
  /* .containerMembers {
    animation: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 0 40px;
    column-gap: 0px;
    row-gap: 50px;
  }
  .containerMembers:last-of-type {
    animation: none;
    display: none;
  } */
  .memberIcon {
    width: auto;
    height: 120px;
  }
}
